node_modules/
dist/nginx-1.25.2/
dist/html/Resources/Characters/OrcMale.glb
Resources/Characters/Bovine.glb
dist/html/Resources/Characters/
dist.7z
dist/html/

dist/html/index.html
Resources/Characters/HumanMaleFuta.glb
