#dialogueMenu {
    display: none;
    height: 70%;
    width: 75%;
    background-color: #d69e78;
    text-align: center;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 45%;
    border: 0.5em solid;
    border-color: #925839;
    padding: 1em;
    transform: translate(-50%, -50%);
}

#dialogueButtons {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #cfa88e;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    left: 50%;
    transform: translate(-50%, 0);
    border-top: 0.2em solid #925839;
}

#dialogueButtons button {
    font-size: 1.5em;
    background-color: #d69e78;
    border: 0.1em solid #925839;
    cursor: pointer;
}