#InventoryBag {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0.3em;
    grid-row-gap: 0.3em;

    height: 70%;
    width: 85%;
    background-color: #d69e78;
    position: absolute;
    border: solid 0.5em;
    border-color: #925839;
    padding: 1em;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
}
.Item {
    border: solid 0.5em;
    border-color: #925839;
    background-color: #d69e78;
    width: 100%;
    height: 100%;
}
.Item button {
    width: 96%;
    height: 12%;
    margin-bottom: 0.4em;
    background-color: #ac6332;
    cursor: pointer;
}
.UpperRightNumber {
    position: relative;
    bottom: 50%;
    left: 75%;
    font-size: 1.5em;
    color: #000000;
    height: 2em;
    width: 2em;
}
